name: Release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  release:

    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Extract version from tag
        id: get_version
        run: echo "VERSION=${GITHUB_REF#refs/tags/v}" >> $GITHUB_ENV

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: gradle

      - name: Set release version
        run: echo "version=${{ env.VERSION }}" > gradle.properties
        
      - name: Build with Gradle
        run: ./gradlew build

      - name: Commit & Push changes
        uses: actions-js/push@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          message: "ci: Releasing version ${{ env.VERSION }}"

      - name: Publish release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: v${{ env.VERSION }}
          name: Release v${{ env.VERSION }}
          files: build/libs/jdkdb-scraper-${{ env.VERSION }}-standalone.jar
          draft: true
          prerelease: false
          generate_release_notes: true

      - name: Set development version
        run: echo "version=${{ env.VERSION }}.1-SNAPSHOT" > gradle.properties

      - name: Commit & Push changes
        uses: actions-js/push@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          message: "ci: Prepare for next development iteration"